.signup_div {
    color: white;
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 35%;
}

.signup_form {
    display: inline-block;
    margin: 10px;
}

.signup_button {
    margin: 10px;
}
